@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {

    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: linear-gradient(#0F2027, #203A43, #2C5364);
    color: #fdeff9;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

.container {

    width: 40%;
    background-color: #576574;
    padding: 1rem;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    border: 3px dotted #fdeff9;
    text-align: center;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.5), -30px 0px 40px rgba(0, 0, 0, 0.5)
}

h1 {

    color: #222f3e;
}

.btn {

    padding: 0.5rem 2rem;
    background-color: #222f3e;
    color: #fdeff9;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

.container input {

    padding: 0.5rem;
    width: 70%;
    margin: 5px 0;
    border-radius: 5px;
    border: 2px solid #222f3e;
}

.container input[type=checkbox] {

    width: auto;
}

.container a {

    text-decoration: none;
    color: #222f3e;
}